" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" --- PLUGINS ---
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

" You need to install IdeaVim-EasyMotion plugin and AceJump in the Jetbrains market
Plug 'easymotion/vim-easymotion'
nmap s <Plug>(easymotion-s)
nmap <leader>w <Plug>(easymotion-bd-w)

Plug 'vim-matchit'
" ----------------------


" --- BASIC SETTINGS ---
set relativenumber

" Do incremental searching.
set incsearch

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff = 5

let mapleader = " "

set ideajoin
" ----------------------


" --- KEY BINDINGS ---
" Don't use Ex mode, use Q for formatting.
map Q g

" 줄 편집
xnoremap il ^o$
nnoremap dil v^o$d
nnoremap yil v^o$y
nnoremap cil v^o$c

" 레지스터 맵핑
" 레지스터 유지
xnoremap <leader>p \"_dP
xnoremap <leader>x \"_x
xnoremap <leader>d \"_d
nnoremap <leader>c \"_c
nnoremap <leader>d \"_d

" 시스템 레지스터 맵핑
nnoremap <leader>yy \"+yy
xnoremap <leader>y \"+y
nnoremap <leader>yiw \"+yiw
nnoremap <leader>p \"+p
xnoremap <leader>p \"+p

" 줄 잇기
nnoremap <leader>j <S-j>

" 스크롤 맵핑
nnoremap <C-j> <C-e>
nnoremap <C-k> <C-y>
nnoremap <S-j> 15<C-e>
nnoremap <S-k> 15<C-y>

" 탭 맵핑
nnoremap <tab> >>
vnoremap <tab> >gv

" 백스페이스 지우기 맵핑
vnoremap <backspace> \"_d

" .ideavimrc 켜기
nnoremap <leader>vv :e ~/.ideavimrc<CR>

" ----------------------
